{
  "openapi": "3.0.3",
  "info": {
    "title": "VidNavigator Developer API",
    "description": "The VidNavigator Developer API provides programmatic access to video analysis, transcription, and search capabilities.\n\n## Authentication\nAll endpoints require API key authentication via the `X-API-Key` header:\n```\nX-API-Key: YOUR_API_KEY\n```\n\n## Rate Limits\nCheck the documentation for the rate limits for each endpoint.\n\n## Long videos and async jobs\nThe speech-to-text endpoints (`/transcribe`, `/extract/video` with `transcribe=true`, `/tweet/statement`) run for as long as the media is long. A synchronous request holds the HTTP connection open for the whole download and transcription, which is reliable for short clips and not for long ones \u2014 clients, reverse proxies and marketplace gateways all time out.\n\n**For media longer than ~10 minutes, use the async twin of the endpoint:**\n\n| Synchronous | Async submit | Poll |\n|---|---|---|\n| `POST /transcribe` | `POST /transcribe/async` | `GET /transcribe/{task_id}` |\n| `POST /extract/video` | `POST /extract/video/async` | `GET /extract/video/{task_id}` |\n| `POST /tweet/statement` | `POST /tweet/statement/async` | `GET /tweet/statement/{task_id}` |\n\nThe async endpoint returns `202` with a `task_id` immediately. Poll the `check_status_url` until `task_status` is `completed` or `failed`; results are retained for 1 hour after the job finishes. Polling is free.\n\nThe synchronous endpoints enforce a **10-minute** limit, rejecting longer media with `video_too_long` (HTTP 400). The metadata fetch needed to read the video's duration is billed (`standard_request` or `residential_request`) and is **not** refunded: the limit is documented, so the proxy call was spent answering a request that could not be served. No `transcription_hour` is charged \u2014 no audio is processed.\n\nPast ten minutes a single HTTP connection is not a reliable way to deliver a transcription, so send long media to the async endpoints \u2014 they have no duration cap. See https://docs.vidnavigator.com/guides/async-jobs.\n\n## Webhooks\nRather than polling, an async job can call you back. Pass `webhook_url` on the submit request, or configure an account-level default in Studio \u2192 API; the per-request value wins, and passing `\"webhook_url\": \"\"` opts a single job out of the default.\n\nDeliveries are signed with HMAC-SHA256 in the `X-VidNavigator-Signature` header (`t=<unix_ts>,v1=<hex>`, computed over `\"{t}.{raw_body}\"` using your signing secret). Delivery is at-least-once and best effort \u2014 five attempts backing off over ~13 minutes \u2014 so make your receiver idempotent on `X-VidNavigator-Delivery` and treat polling as the source of truth.\n\n**Auto-disable:** an account-level default endpoint that fails 20 deliveries in a row over more than 72 hours is switched off automatically, and the owner is notified in Studio. Both conditions must hold, so a busy afternoon of failures will not disable a healthy endpoint and neither will two failures a week apart; a single successful delivery resets the run. While disabled, jobs still run and results are still available by polling \u2014 only the callback stops. Re-enable it in Studio \u2192 API once the receiver is fixed. A per-request `webhook_url` is never auto-disabled, because it is not stored. Full contract: https://docs.vidnavigator.com/guides/webhooks\n\n## Error Handling\nThe API uses standard HTTP status codes and returns error responses in JSON format:\n```json\n{\n  \"status\": \"error\",\n  \"error\": \"error_type\",\n  \"message\": \"Human readable error message\"\n}\n```\nActionable errors also carry a `docs_url`. Error reference: https://docs.vidnavigator.com/reference/errors",
    "version": "1.0.0",
    "contact": {
      "name": "VidNavigator Support",
      "url": "https://vidnavigator.com/support",
      "email": "support@vidnavigator.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://vidnavigator.com/terms"
    }
  },
  "servers": [
    {
      "url": "https://api.vidnavigator.com/v1",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/transcript": {
      "post": {
        "summary": "Get transcript for any supported video",
        "description": "Extract transcript from any supported online video (YouTube, Vimeo, Twitter/X, TikTok, Facebook, Dailymotion, Loom, etc.) with optional language selection. The endpoint auto-detects the platform from the URL and routes internally.\n\n The URL inside `video_url` is what determines the upstream behavior.\n\n**Note:** for Instagram videos, use `/transcribe` instead (speech-to-text).\n\nOptions:\n- `transcript_text=true`: Returns the transcript as a single plain-text string instead of an array of segments.\n- `metadata_only=true`: Returns only video metadata (no transcript).\n- `fallback_to_metadata=true`: If transcript is unavailable, returns video metadata with an empty transcript instead of a 404 error (ignored when `metadata_only=true`).\n\n**Billing** depends on the URL:\n- YouTube (full transcript OR `metadata_only=true`) \u2192 1\u00d7 `residential_request` (the transcript fetch routes through the residential proxy)\n- Non-YouTube \u2192 1\u00d7 `standard_request` (some platforms internally use residential and would be billed accordingly)\n\nThe charge applies whether or not a transcript is returned (mirrors the proxy hop we paid for). Set `include_usage=true` to receive a `usage` block in the response.",
        "operationId": "getTranscript",
        "tags": [
          "Transcripts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "video_url"
                ],
                "properties": {
                  "video_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the video to retrieve transcript for",
                    "example": "https://twitter.com/user/status/123456789"
                  },
                  "language": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 2,
                    "description": "ISO2 language code (optional)",
                    "example": "en"
                  },
                  "metadata_only": {
                    "type": "boolean",
                    "default": false,
                    "description": "When true, returns only video metadata without transcript. Usage is still recorded."
                  },
                  "fallback_to_metadata": {
                    "type": "boolean",
                    "default": false,
                    "description": "When true, returns video metadata with an empty transcript if transcript is unavailable (200). Ignored if metadata_only is true."
                  },
                  "transcript_text": {
                    "type": "boolean",
                    "default": false,
                    "description": "When true, returns the transcript as a single plain-text string instead of an array of segments."
                  },
                  "include_usage": {
                    "type": "boolean",
                    "default": false,
                    "description": "When true, the response includes a `usage` block listing every meter charged during this request, the total credits deducted, and the user's remaining balance."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transcript retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "video_info": {
                          "$ref": "#/components/schemas/VideoInfo"
                        },
                        "transcript": {
                          "$ref": "#/components/schemas/TranscriptOutput"
                        }
                      }
                    },
                    "usage": {
                      "$ref": "#/components/schemas/UsageBlock"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/VideoNotFound"
          },
          "403": {
            "$ref": "#/components/responses/ContentRestricted"
          },
          "451": {
            "$ref": "#/components/responses/GeoRestricted"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/transcribe": {
      "post": {
        "summary": "Transcribe online videos",
        "description": "Transcribe online videos (e.g., Instagram, TikTok) using speech-to-text models when a transcript is not available.\n\n**Instagram Carousel Posts:**\n- For posts with multiple videos, the URL can include `?img_index=N` to select a specific video\n- Example: `https://www.instagram.com/p/ABC123/?img_index=2` transcribes the second video\n- Without `img_index`, the first video is transcribed\n- Set `all_videos=true` to transcribe ALL videos in a carousel post\n\n**Options:**\n- `transcript_text=true`: Returns transcript as a single text string instead of segments\n- `all_videos=true`: For carousel posts, returns all videos with their transcripts\n\n**Billing:** on cache miss, one `standard_request` or `residential_request` is charged for the metadata fetch (residential for Instagram, Facebook-watch, Rumble; standard otherwise), plus `transcription_hour` proportional to the audio duration. On cache hit (same URL transcribed before for any user), only `transcription_hour` is charged \u2014 the metadata fetch is skipped. Users with the `free_on_cache_hit` sponsorship flag get the cache-hit `transcription_hour` waived (`waived: true` in the per-charge entry). Set `include_usage=true` to see the breakdown.\n\n**Long videos:** this endpoint is synchronous and holds the connection open for the whole transcription. For media longer than ~10 minutes use `POST /transcribe/async` instead, which returns a `task_id` and can call your webhook when it finishes. Media longer than 10 minutes is rejected here with `video_too_long` (HTTP 400). The metadata fetch needed to read the video's duration is billed (`standard_request` or `residential_request`) and is **not** refunded: the limit is documented, so the proxy call was spent answering a request that could not be served. No `transcription_hour` is charged \u2014 no audio is processed. Send long media to the async endpoint, which has no cap. See https://docs.vidnavigator.com/guides/async-jobs",
        "operationId": "transcribeVideo",
        "tags": [
          "Transcripts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "video_url"
                ],
                "properties": {
                  "video_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the video to transcribe. For Instagram carousel posts, append ?img_index=N to select a specific video.",
                    "example": "https://www.instagram.com/reel/C86ZvEaqRmo/"
                  },
                  "transcript_text": {
                    "type": "boolean",
                    "default": false,
                    "description": "When true, returns the transcript as a single plain-text string instead of an array of segments."
                  },
                  "all_videos": {
                    "type": "boolean",
                    "default": false,
                    "description": "For carousel posts only. When true, transcribes ALL videos in the post and returns them in an array. Ignored for non-carousel URLs (reels, TikTok, etc.)."
                  },
                  "include_usage": {
                    "type": "boolean",
                    "default": false,
                    "description": "When true, the response includes a `usage` block listing every meter charged during this request, the total credits deducted, and the user's remaining balance."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video transcribed successfully. Response format depends on `all_videos` parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "description": "Single video response (default)",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "success"
                          ]
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "video_info": {
                              "$ref": "#/components/schemas/VideoInfo"
                            },
                            "transcript": {
                              "$ref": "#/components/schemas/TranscriptOutput"
                            }
                          }
                        },
                        "usage": {
                          "$ref": "#/components/schemas/UsageBlock"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "description": "All videos response (when all_videos=true)",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "success"
                          ]
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "carousel_info": {
                              "$ref": "#/components/schemas/CarouselInfo"
                            },
                            "videos": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/CarouselVideoResult"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request \u2014 invalid parameters, no videos found, or the video exceeds the synchronous duration cap (`video_too_long`; use `POST /transcribe/async`). The cap is 10 minutes. A `video_too_long` rejection still bills the metadata fetch that read the duration; it bills no `transcription_hour`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ]
                    },
                    "error": {
                      "type": "string",
                      "enum": [
                        "missing_parameter",
                        "invalid_parameter",
                        "no_videos_found",
                        "unsupported_platform",
                        "video_too_long"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/ContentRestricted"
          },
          "404": {
            "$ref": "#/components/responses/VideoNotFound"
          },
          "451": {
            "$ref": "#/components/responses/GeoRestricted"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/tiktok/profile": {
      "post": {
        "summary": "Submit a TikTok profile scrape (async)",
        "description": "Start an asynchronous TikTok profile scrape and return a `task_id` immediately.\n\nThe scrape runs in the background with shallow extraction so it can stop early when filters are satisfied. Results are retained for 1 hour and, when cloud storage is configured, also uploaded as a single JSON file accessible through `download_url`.\n\n**Billing:** Each TikTok API page fetched is billed as one standard request. One page is pre-charged when the task is accepted; remaining pages are reconciled when the scrape completes. If the scrape fails after charging additional pages, all charged pages are reversed. TikTok currently returns ~15 videos per page; this is an internal estimate and may change.\n\n**Filters:** All filters are applied as the scraper iterates. `max_posts` and `after_datetime` allow the scraper to stop fetching new pages early; the other filters reduce result size but do not stop pagination.\n\n**Usage disclosure:** This endpoint does NOT accept `include_usage`. Because billing happens in the background worker after the 202 response is sent, there is nothing to disclose at submit time. Pass `include_usage=true` on `GET /tiktok/profile/{task_id}` instead \u2014 the GET endpoint replays the final charges once `task_status=completed`.\n\nUse `GET /tiktok/profile/{task_id}` to poll status and retrieve paginated results, or follow `download_url` for the complete JSON.",
        "operationId": "submitTikTokProfileScrape",
        "tags": [
          "TikTok"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "profile_url"
                ],
                "properties": {
                  "profile_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Public TikTok profile URL (e.g. https://www.tiktok.com/@username).",
                    "example": "https://www.tiktok.com/@tiktok"
                  },
                  "max_posts": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Maximum number of matching videos to return. The scraper stops paginating once this is reached.",
                    "example": 100
                  },
                  "after_datetime": {
                    "type": "string",
                    "description": "Only include videos published on or after this boundary. Accepts either YYYY-MM-DD or an ISO datetime with timezone (e.g. 2024-01-01T00:00:00Z). Filtering uses per-video `timestamp` when available (UTC), with upload-date fallback otherwise.",
                    "example": "2024-01-01T00:00:00Z"
                  },
                  "before_datetime": {
                    "type": "string",
                    "description": "Only include videos published on or before this boundary. Accepts either YYYY-MM-DD or an ISO datetime with timezone (e.g. 2024-12-31T23:59:59+02:00). Filtering uses per-video `timestamp` when available (UTC), with upload-date fallback otherwise.",
                    "example": "2024-12-31"
                  },
                  "min_likes": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Only include videos with at least this many likes."
                  },
                  "max_likes": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Only include videos with at most this many likes."
                  },
                  "webhook_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Where to POST the result when the task finishes. Overrides the account-level default configured in Studio \u2192 API; pass an empty string to opt this task out of that default. Must be a publicly reachable https URL. The event is a notification, not the payload: a scrape can hold thousands of videos, so it carries `stats` and tells you to read the result from `check_status_url`. See https://docs.vidnavigator.com/guides/webhooks",
                    "example": "https://example.com/hooks/vidnavigator"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Task accepted and queued for background scraping.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "task_id": {
                          "type": "string"
                        },
                        "task_status": {
                          "type": "string",
                          "enum": [
                            "processing"
                          ]
                        },
                        "profile_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "expires_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "check_status_url": {
                          "type": "string",
                          "description": "Relative URL to poll for status and results.",
                          "example": "/v1/tiktok/profile/550e8400-e29b-41d4-a716-446655440000"
                        },
                        "message": {
                          "type": "string"
                        },
                        "webhook_url": {
                          "type": "string",
                          "nullable": true,
                          "description": "The URL this task's result will be POSTed to, or null."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (missing or malformed `profile_url`, bad filter values, non-TikTok URL).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ]
                    },
                    "error": {
                      "type": "string",
                      "enum": [
                        "request_body_required",
                        "missing_parameter",
                        "invalid_url",
                        "invalid_parameter"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/tiktok/profile/{task_id}": {
      "get": {
        "summary": "Get TikTok profile scrape result",
        "description": "Poll an async TikTok profile scrape task and retrieve a cursor-paginated page of videos.\n\n**Cursor pagination:** The cursor encodes an absolute offset, so it is safe to change `limit` between calls without skipping or duplicating videos. Pass the `next_cursor` returned from a previous response as `cursor` in the next request. Omit `cursor` to start from the beginning.\n\n**TTL:** Tasks (and their `download_url` availability) expire ~1 hour after creation. Poll while `task_status` is `processing`, and switch to `download_url` for very large profiles.\n\nThis endpoint does not consume credits \u2014 polling is free.\n\n**Usage disclosure:** Set `include_usage=true` to receive a `usage` block describing the charges the background worker recorded for this task. Returned only when `task_status=completed` (processing tasks haven't finished billing; failed tasks have all charges refunded). Charges are `standard_request` units, one per TikTok page consumed.",
        "operationId": "getTikTokProfileScrape",
        "tags": [
          "TikTok"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "description": "ID returned by POST /tiktok/profile.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque pagination cursor returned as `next_cursor` from the previous response. Omit to fetch the first page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of videos to include in the response.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 50
            }
          },
          {
            "name": "include_usage",
            "in": "query",
            "required": false,
            "description": "When true and `task_status=completed`, attach a `usage` block describing the charges the background worker recorded (`standard_request` \u00d7 `pages_consumed`).",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task found. `task_status` may be `processing`, `completed`, or `failed`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/TikTokProfileTask"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid cursor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ]
                    },
                    "error": {
                      "type": "string",
                      "enum": [
                        "invalid_cursor"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Task not found, expired (>1h), or not owned by this user.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ]
                    },
                    "error": {
                      "type": "string",
                      "enum": [
                        "task_not_found"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/tiktok/search": {
      "post": {
        "summary": "Submit a TikTok keyword search (async)",
        "description": "Start an asynchronous TikTok keyword search task and return a `task_id` immediately. Poll `GET /tiktok/search/{task_id}` for cursor-paginated results. Results are retained for ~1 hour.\n\nResults are returned sorted by `published_at` descending (newest first) across pagination, full retrieval, and the signed `download_url` payload, unless `sort_by` is set, in which case that order is kept.\n\n**parallel_search_slices billing:** by default (`1`), the search runs a single paginated query chain and is naturally capped at roughly 115-140 items by TikTok. Setting `parallel_search_slices` to `2..4` runs that many concurrent chains in parallel and dedups by video id, lifting the effective ceiling. Cost scales linearly: each additional slice consumes up to ~1x the residential pages of a single search, so an N-slice request bills up to **Nx the residential pages**. Extra slices add the most on searches without a date window; with `published_within` set, every slice searches the same window and can return largely the same videos. `parallel_search_slices` is *not* a time filter \u2014 use `published_within`, `after_datetime` or `before_datetime` for time windows.\n\n**Usage disclosure:** This endpoint does NOT accept `include_usage`. Billing happens in the background worker after the 202 response is sent, so there is nothing to disclose at submit time. Pass `include_usage=true` on `GET /tiktok/search/{task_id}` instead \u2014 the GET endpoint replays the final charges once `task_status=completed`.",
        "operationId": "submitTikTokSearch",
        "tags": [
          "TikTok"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 2,
                    "description": "Keyword phrase to search on TikTok.",
                    "example": "ai tools"
                  },
                  "max_results": {
                    "type": "integer",
                    "minimum": 0,
                    "default": 0,
                    "description": "Optional upper bound on results the background task will try to collect. `0` (the default) or omitted means **unlimited** \u2014 pagination only stops when TikTok has no more results or the page cap is reached. With `parallel_search_slices=1` that naturally yields ~115-140 items (TikTok serves ~5 pages of ~30 items per chain); with `parallel_search_slices=4` up to ~480 unique items. A positive integer caps the merged result count. **No hard server-side cap is enforced** \u2014 a caller asking for `3000` will be billed per residential page actually fetched (~5 pages per slice naturally) and receive whatever TikTok delivers."
                  },
                  "parallel_search_slices": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 4,
                    "default": 1,
                    "example": 2,
                    "description": "How many concurrent paginated query chains to run and dedup by video id. `1` (the default) is a single chain naturally capped at roughly 115-140 items. `2..4` runs that many additional chains in parallel, lifting the effective ceiling at the cost of up to **~Nx the residential pages** of a single search. Diminishing returns: 2 slices yield ~+43% unique items, 3 slices ~+22%, 4 slices ~+13% on a representative query without a date window, so 4 already saturates TikTok's natural ~480-item dedup ceiling for most queries. With `published_within` set, every slice searches the same window and extra slices can return largely the same videos, so keep `1` unless you have measured a gain. `parallel_search_slices` is *not* a time filter \u2014 use `published_within`, `after_datetime` or `before_datetime` for time windows."
                  },
                  "sort_by": {
                    "type": "string",
                    "enum": [
                      "relevance",
                      "most_liked",
                      "newest"
                    ],
                    "example": "newest",
                    "description": "Sort order applied by TikTok itself (the same control as the app's search Filters sheet). `relevance` returns results in TikTok's ranking, `most_liked` by like count, `newest` by publish date, newest first. When omitted, results are returned newest first, and the search itself is ordered to fit your filters: newest first when `after_datetime` or `before_datetime` is set (stopping once it passes `after_datetime`), most liked first when only `min_likes` or `min_views` is set. That returns more matching videos per billed page."
                  },
                  "published_within": {
                    "type": "string",
                    "enum": [
                      "all",
                      "past_24_hours",
                      "this_week",
                      "this_month",
                      "last_3_months",
                      "last_6_months"
                    ],
                    "example": "this_week",
                    "description": "Publication window applied by TikTok itself. Windows are rolling (`this_week` = the last 7 days). When omitted and `after_datetime` is more than 24 hours ago, the smallest window that covers `after_datetime` is selected automatically."
                  },
                  "after_datetime": {
                    "type": "string",
                    "description": "Only include videos published on or after this boundary. Accepts YYYY-MM-DD or ISO datetime with timezone. Unless `sort_by` or `published_within` is set, it also makes the search run newest first and stop once it passes this boundary, so more results in range come back per billed page."
                  },
                  "before_datetime": {
                    "type": "string",
                    "description": "Only include videos published on or before this boundary. Accepts YYYY-MM-DD or ISO datetime with timezone."
                  },
                  "min_likes": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "max_likes": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "min_views": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "max_views": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "webhook_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Where to POST the result when the task finishes. Overrides the account-level default configured in Studio \u2192 API; pass an empty string to opt this task out of that default. Must be a publicly reachable https URL. The event is a notification, not the payload: a scrape can hold thousands of videos, so it carries `stats` and tells you to read the result from `check_status_url`. See https://docs.vidnavigator.com/guides/webhooks",
                    "example": "https://example.com/hooks/vidnavigator"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Task accepted and queued.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "task_id": {
                          "type": "string"
                        },
                        "task_status": {
                          "type": "string",
                          "enum": [
                            "processing"
                          ]
                        },
                        "query": {
                          "type": "string"
                        },
                        "max_results": {
                          "type": "integer"
                        },
                        "parallel_search_slices": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 4,
                          "description": "Echo of the slice count the task was created with."
                        },
                        "filters": {
                          "type": "object"
                        },
                        "expires_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "check_status_url": {
                          "type": "string",
                          "example": "/v1/tiktok/search/550e8400-e29b-41d4-a716-446655440000"
                        },
                        "message": {
                          "type": "string"
                        },
                        "webhook_url": {
                          "type": "string",
                          "nullable": true,
                          "description": "The URL this task's result will be POSTed to, or null."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/tiktok/search/{task_id}": {
      "get": {
        "summary": "Get TikTok keyword search result",
        "description": "Poll an async TikTok keyword search task and retrieve cursor-paginated normalized result items.\n\nThis endpoint does not consume credits \u2014 polling is free.\n\n**Usage disclosure:** Set `include_usage=true` to receive a `usage` block describing the charges the background worker recorded for this task. Returned only when `task_status=completed` (processing tasks haven't finished billing; failed tasks have all charges refunded). Charges are `pages_fetched \u00d7 residential_request` (no `search_request` is billed for TikTok keyword search).",
        "operationId": "getTikTokSearch",
        "tags": [
          "TikTok"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 50
            }
          },
          {
            "name": "include_usage",
            "in": "query",
            "required": false,
            "description": "When true and `task_status=completed`, attach a `usage` block describing the charges the background worker recorded (`pages_fetched \u00d7 residential_request`; no `search_request` for TikTok keyword search).",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/TikTokSearchTask"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "description": "Task not found, expired, or not owned by this user."
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/files": {
      "get": {
        "summary": "Get list of uploaded files",
        "description": "Retrieve a paginated list of all files uploaded by the authenticated user. Supports filtering by status and namespace.",
        "operationId": "getFiles",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of files to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of files to skip for pagination",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by file status",
            "schema": {
              "type": "string",
              "enum": [
                "processing",
                "completed",
                "failed",
                "cancelled"
              ]
            }
          },
          {
            "name": "namespace_id",
            "in": "query",
            "description": "Filter by namespace ID. Only returns files belonging to this namespace. If not set, returns files from all namespaces.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Files retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "files": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/FileInfo"
                          }
                        },
                        "total_count": {
                          "type": "integer"
                        },
                        "limit": {
                          "type": "integer"
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "has_more": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/file/{file_id}": {
      "get": {
        "summary": "Get file information and transcript",
        "description": "Retrieve detailed information about a specific file including its transcript if available",
        "operationId": "getFile",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "description": "The ID of the uploaded file",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transcript_text",
            "in": "query",
            "required": false,
            "description": "When true, returns the transcript as a single plain-text string instead of an array of segments (only when transcript is available).",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File information retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "file_info": {
                          "$ref": "#/components/schemas/FileInfo"
                        },
                        "transcript": {
                          "$ref": "#/components/schemas/TranscriptOutput",
                          "description": "Only included if has_transcript is true"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied"
          },
          "404": {
            "$ref": "#/components/responses/FileNotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/analyze/video": {
      "post": {
        "summary": "Analyze online video",
        "description": "Analyze an online video and return comprehensive analysis results with intelligent caching.\n\n**Behavior:**\n- If no query provided: Returns summary analysis (cached if available)\n- If query provided: Returns both summary (from cache if available) and fresh question analysis\n\n**Caching:**\n- Summary analyses are cached and reused\n- Question/query analyses are not cached (always fresh)\n- Transcripts are cached for optimization\n\n**Billing:** `analysis_request` is token-based \u2014 `quantity = ceil(total_tokens / 15000)`. One unit is charged up front as a credit gate; additional units are topped up at the end if the LLM call exceeded 15,000 tokens. When the transcript isn't cached, one additional `residential_request` or `standard_request` is charged for the fetch (residential for YouTube/Instagram/Facebook-watch/Rumble, standard otherwise). Set `include_usage=true` to receive the per-charge breakdown \u2014 the consolidated `analysis_request` entry carries a nested `tokens` object with `prompt_tokens`/`completion_tokens`/`total_tokens`.\n\nOptional: set `transcript_text=true` to return the transcript as a single text string instead of an array of segments.",
        "operationId": "analyzeVideo",
        "tags": [
          "Analysis"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "video_url"
                ],
                "properties": {
                  "video_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the video to analyze",
                    "example": "https://youtube.com/watch?v=dQw4w9WgXcQ"
                  },
                  "query": {
                    "type": "string",
                    "description": "Optional question about the video content",
                    "example": "What is the main topic discussed?"
                  },
                  "transcript_text": {
                    "type": "boolean",
                    "default": false,
                    "description": "When true, returns the transcript as a single plain-text string instead of an array of segments."
                  },
                  "include_usage": {
                    "type": "boolean",
                    "default": false,
                    "description": "When true, the response includes a `usage` block listing every meter charged during this request, the total credits deducted, and the user's remaining balance."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video analyzed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "video_info": {
                          "$ref": "#/components/schemas/VideoInfo"
                        },
                        "transcript": {
                          "$ref": "#/components/schemas/TranscriptOutput"
                        },
                        "transcript_analysis": {
                          "$ref": "#/components/schemas/AnalysisResult"
                        }
                      }
                    },
                    "usage": {
                      "$ref": "#/components/schemas/UsageBlock"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/VideoNotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/analyze/file": {
      "post": {
        "summary": "Analyze uploaded file",
        "description": "Analyze an uploaded file and return comprehensive analysis results with intelligent caching.\n\n**Behavior:**\n- If no query provided: Returns summary analysis (cached if available)\n- If query provided: Returns both summary (from cache if available) and fresh question analysis\n\n**Billing:** `analysis_request` is token-based \u2014 `quantity = ceil(total_tokens / 15000)`. One unit is charged up front as a credit gate; additional units are topped up at the end if the LLM call exceeded 15,000 tokens. The file's transcript is read locally from your storage \u2014 no proxy fetch is involved. Set `include_usage=true` to receive the per-charge breakdown.\n\nOptional: set `transcript_text=true` to return the transcript as a single text string instead of an array of segments.",
        "operationId": "analyzeFile",
        "tags": [
          "Analysis"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "file_id"
                ],
                "properties": {
                  "file_id": {
                    "type": "string",
                    "description": "ID of the uploaded file to analyze"
                  },
                  "query": {
                    "type": "string",
                    "description": "Optional question about the file content",
                    "example": "What is discussed in this file?"
                  },
                  "transcript_text": {
                    "type": "boolean",
                    "default": false,
                    "description": "When true, returns the transcript as a single plain-text string instead of an array of segments."
                  },
                  "include_usage": {
                    "type": "boolean",
                    "default": false,
                    "description": "When true, the response includes a `usage` block listing every meter charged during this request, the total credits deducted, and the user's remaining balance."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File analyzed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "file_info": {
                          "$ref": "#/components/schemas/FileInfo"
                        },
                        "transcript": {
                          "$ref": "#/components/schemas/TranscriptOutput"
                        },
                        "transcript_analysis": {
                          "$ref": "#/components/schemas/AnalysisResult"
                        }
                      }
                    },
                    "usage": {
                      "$ref": "#/components/schemas/UsageBlock"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied"
          },
          "404": {
            "$ref": "#/components/responses/FileNotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/extract/video": {
      "post": {
        "summary": "Extract structured data from online video",
        "description": "Extract structured data from an online video's transcript using a custom schema.\n\nProvide a `video_url` and a `schema` describing the fields to extract. Optionally include `what_to_extract` to guide the extraction.\n\n**Auto-transcription:** For non-YouTube videos without an existing transcript (e.g. Instagram, TikTok, Facebook), the API automatically transcribes the video audio when `transcribe` is `true` (the default). This uses speech-to-text credits (`transcription_hour` usage). YouTube videos rely on platform captions and cannot be auto-transcribed. Set `transcribe=false` to disable this behavior.\n\n**Schema format:** Each field must have `type` and `description`. Supported types: `String`, `Number`, `Boolean`, `Integer`, `Object`, `Array`, `Enum`. Max 10 root fields, max 3 nesting levels.\n\n**Content-Type:** Accepts `application/json`, YAML (`application/yaml`, `application/x-yaml`, `text/yaml`), or `multipart/form-data`. For multipart requests, send `video_url` as a form field and `schema` as either a JSON/YAML form value or an uploaded JSON/YAML file (for example, `schema=@fact-check.yaml`). If the uploaded schema file contains a full request body with a nested `schema` property, the nested schema is used and the form `video_url` takes precedence.\n\n**Token usage:** Set `include_usage=true` to include prompt/completion token counts in the response.\n\n**Billing:** Each extraction consumes at least 1 analysis_request unit. For longer transcripts, billing scales as `ceil(total_tokens / 15000)` analysis_request units. If auto-transcription is triggered, transcription_hour usage is also charged based on video duration. All charges are reverted if the request fails.\n\n**Long videos:** this endpoint is synchronous and holds the connection open for the whole transcription. For media longer than ~10 minutes use `POST /extract/video/async` instead, which returns a `task_id` and can call your webhook when it finishes. Media longer than 10 minutes is rejected here with `video_too_long` (HTTP 400). The metadata fetch needed to read the video's duration is billed (`standard_request` or `residential_request`) and is **not** refunded: the limit is documented, so the proxy call was spent answering a request that could not be served. No `transcription_hour` is charged \u2014 no audio is processed. Send long media to the async endpoint, which has no cap. See https://docs.vidnavigator.com/guides/async-jobs",
        "operationId": "extractVideoData",
        "tags": [
          "Extraction"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "video_url",
                  "schema"
                ],
                "properties": {
                  "video_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the video to extract data from",
                    "example": "https://youtube.com/watch?v=dQw4w9WgXcQ"
                  },
                  "schema": {
                    "$ref": "#/components/schemas/ExtractionSchema"
                  },
                  "what_to_extract": {
                    "type": "string",
                    "description": "Optional guidance for what to extract from the transcript",
                    "example": "Extract the main topics and any product names mentioned"
                  },
                  "transcribe": {
                    "type": "boolean",
                    "default": true,
                    "description": "When true, automatically transcribes the video audio if no platform transcript is available. Applies to non-YouTube videos only (Instagram, TikTok, Facebook, X, etc.). Uses speech-to-text credits based on video duration."
                  },
                  "include_usage": {
                    "type": "boolean",
                    "default": false,
                    "description": "When true, includes token usage statistics in the response"
                  }
                }
              }
            },
            "application/yaml": {
              "schema": {
                "type": "object",
                "required": [
                  "video_url",
                  "schema"
                ],
                "properties": {
                  "video_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the video to extract data from",
                    "example": "https://youtube.com/watch?v=dQw4w9WgXcQ"
                  },
                  "schema": {
                    "$ref": "#/components/schemas/ExtractionSchema"
                  },
                  "what_to_extract": {
                    "type": "string",
                    "description": "Optional guidance for what to extract from the transcript",
                    "example": "Extract the main topics and any product names mentioned"
                  },
                  "transcribe": {
                    "type": "boolean",
                    "default": true,
                    "description": "When true, automatically transcribes the video audio if no platform transcript is available. Applies to non-YouTube videos only (Instagram, TikTok, Facebook, X, etc.). Uses speech-to-text credits based on video duration."
                  },
                  "include_usage": {
                    "type": "boolean",
                    "default": false,
                    "description": "When true, includes token usage statistics in the response"
                  }
                }
              }
            },
            "application/x-yaml": {
              "schema": {
                "type": "object",
                "required": [
                  "video_url",
                  "schema"
                ],
                "properties": {
                  "video_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the video to extract data from",
                    "example": "https://youtube.com/watch?v=dQw4w9WgXcQ"
                  },
                  "schema": {
                    "$ref": "#/components/schemas/ExtractionSchema"
                  },
                  "what_to_extract": {
                    "type": "string",
                    "description": "Optional guidance for what to extract from the transcript",
                    "example": "Extract the main topics and any product names mentioned"
                  },
                  "transcribe": {
                    "type": "boolean",
                    "default": true,
                    "description": "When true, automatically transcribes the video audio if no platform transcript is available. Applies to non-YouTube videos only (Instagram, TikTok, Facebook, X, etc.). Uses speech-to-text credits based on video duration."
                  },
                  "include_usage": {
                    "type": "boolean",
                    "default": false,
                    "description": "When true, includes token usage statistics in the response"
                  }
                }
              }
            },
            "text/yaml": {
              "schema": {
                "type": "object",
                "required": [
                  "video_url",
                  "schema"
                ],
                "properties": {
                  "video_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the video to extract data from",
                    "example": "https://youtube.com/watch?v=dQw4w9WgXcQ"
                  },
                  "schema": {
                    "$ref": "#/components/schemas/ExtractionSchema"
                  },
                  "what_to_extract": {
                    "type": "string",
                    "description": "Optional guidance for what to extract from the transcript",
                    "example": "Extract the main topics and any product names mentioned"
                  },
                  "transcribe": {
                    "type": "boolean",
                    "default": true,
                    "description": "When true, automatically transcribes the video audio if no platform transcript is available. Applies to non-YouTube videos only (Instagram, TikTok, Facebook, X, etc.). Uses speech-to-text credits based on video duration."
                  },
                  "include_usage": {
                    "type": "boolean",
                    "default": false,
                    "description": "When true, includes token usage statistics in the response"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "video_url",
                  "schema"
                ],
                "properties": {
                  "video_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the video to extract data from",
                    "example": "https://youtube.com/watch?v=dQw4w9WgXcQ"
                  },
                  "schema": {
                    "type": "string",
                    "format": "binary",
                    "description": "JSON or YAML schema file. The file may contain either the schema object directly or a full extraction request object with a nested `schema` property."
                  },
                  "what_to_extract": {
                    "type": "string",
                    "description": "Optional guidance for what to extract from the transcript",
                    "example": "Extract the main topics and any product names mentioned"
                  },
                  "transcribe": {
                    "type": "boolean",
                    "default": true,
                    "description": "When true, automatically transcribes the video audio if no platform transcript is available. Applies to non-YouTube videos only (Instagram, TikTok, Facebook, X, etc.). Uses speech-to-text credits based on video duration."
                  },
                  "include_usage": {
                    "type": "boolean",
                    "default": false,
                    "description": "When true, includes token usage statistics in the response"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Data extracted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing parameters, invalid schema, or input too large",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ]
                    },
                    "error": {
                      "type": "string",
                      "enum": [
                        "missing_parameter",
                        "request_body_required",
                        "invalid_schema",
                        "input_too_large",
                        "video_too_long"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "description": "Video or transcript not found. Returned when no transcript is available and auto-transcription is disabled or not supported (YouTube).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ]
                    },
                    "error": {
                      "type": "string",
                      "enum": [
                        "video_not_found",
                        "video_unavailable",
                        "transcript_not_available"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error, including transcription failures",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ]
                    },
                    "error": {
                      "type": "string",
                      "enum": [
                        "internal_server_error",
                        "extraction_failed",
                        "transcription_failed"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/SystemOverload"
          }
        }
      }
    },
    "/extract/file": {
      "post": {
        "summary": "Extract structured data from uploaded file",
        "description": "Extract structured data from an uploaded file's transcript using a custom schema.\n\nProvide a `file_id` and a `schema` describing the fields to extract. The file must be processed and have a transcript available. Optionally include `what_to_extract` to guide the extraction.\n\n**Schema format:** Each field must have `type` and `description`. Supported types: `String`, `Number`, `Boolean`, `Integer`, `Object`, `Array`, `Enum`. Max 10 root fields, max 3 nesting levels.\n\n**Content-Type:** Accepts `application/json`, YAML (`application/yaml`, `application/x-yaml`, `text/yaml`), or `multipart/form-data`. For multipart requests, send `file_id` as a form field and `schema` as either a JSON/YAML form value or an uploaded JSON/YAML file. If the uploaded schema file contains a full request body with a nested `schema` property, the nested schema is used and the form `file_id` takes precedence.\n\n**Token usage:** Set `include_usage=true` to include prompt/completion token counts in the response.\n\n**Billing:** Each extraction consumes at least 1 analysis credit. For longer transcripts, billing scales as `ceil(total_tokens / 15000)` credits. All charges are reverted if the request fails.",
        "operationId": "extractFileData",
        "tags": [
          "Extraction"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "file_id",
                  "schema"
                ],
                "properties": {
                  "file_id": {
                    "type": "string",
                    "description": "ID of the uploaded file to extract data from"
                  },
                  "schema": {
                    "$ref": "#/components/schemas/ExtractionSchema"
                  },
                  "what_to_extract": {
                    "type": "string",
                    "description": "Optional guidance for what to extract from the transcript",
                    "example": "Extract action items and deadlines from this meeting"
                  },
                  "include_usage": {
                    "type": "boolean",
                    "default": false,
                    "description": "When true, includes token usage statistics in the response"
                  }
                }
              }
            },
            "application/yaml": {
              "schema": {
                "type": "object",
                "required": [
                  "file_id",
                  "schema"
                ],
                "properties": {
                  "file_id": {
                    "type": "string",
                    "description": "ID of the uploaded file to extract data from"
                  },
                  "schema": {
                    "$ref": "#/components/schemas/ExtractionSchema"
                  },
                  "what_to_extract": {
                    "type": "string",
                    "description": "Optional guidance for what to extract from the transcript",
                    "example": "Extract action items and deadlines from this meeting"
                  },
                  "include_usage": {
                    "type": "boolean",
                    "default": false,
                    "description": "When true, includes token usage statistics in the response"
                  }
                }
              }
            },
            "application/x-yaml": {
              "schema": {
                "type": "object",
                "required": [
                  "file_id",
                  "schema"
                ],
                "properties": {
                  "file_id": {
                    "type": "string",
                    "description": "ID of the uploaded file to extract data from"
                  },
                  "schema": {
                    "$ref": "#/components/schemas/ExtractionSchema"
                  },
                  "what_to_extract": {
                    "type": "string",
                    "description": "Optional guidance for what to extract from the transcript",
                    "example": "Extract action items and deadlines from this meeting"
                  },
                  "include_usage": {
                    "type": "boolean",
                    "default": false,
                    "description": "When true, includes token usage statistics in the response"
                  }
                }
              }
            },
            "text/yaml": {
              "schema": {
                "type": "object",
                "required": [
                  "file_id",
                  "schema"
                ],
                "properties": {
                  "file_id": {
                    "type": "string",
                    "description": "ID of the uploaded file to extract data from"
                  },
                  "schema": {
                    "$ref": "#/components/schemas/ExtractionSchema"
                  },
                  "what_to_extract": {
                    "type": "string",
                    "description": "Optional guidance for what to extract from the transcript",
                    "example": "Extract action items and deadlines from this meeting"
                  },
                  "include_usage": {
                    "type": "boolean",
                    "default": false,
                    "description": "When true, includes token usage statistics in the response"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file_id",
                  "schema"
                ],
                "properties": {
                  "file_id": {
                    "type": "string",
                    "description": "ID of the uploaded file to extract data from"
                  },
                  "schema": {
                    "type": "string",
                    "format": "binary",
                    "description": "JSON or YAML schema file. The file may contain either the schema object directly or a full extraction request object with a nested `schema` property."
                  },
                  "what_to_extract": {
                    "type": "string",
                    "description": "Optional guidance for what to extract from the transcript",
                    "example": "Extract action items and deadlines from this meeting"
                  },
                  "include_usage": {
                    "type": "boolean",
                    "default": false,
                    "description": "When true, includes token usage statistics in the response"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Data extracted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing parameters, invalid schema, or input too large",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ]
                    },
                    "error": {
                      "type": "string",
                      "enum": [
                        "missing_parameter",
                        "request_body_required",
                        "invalid_schema",
                        "input_too_large"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied"
          },
          "404": {
            "description": "File not found or transcript not available",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ]
                    },
                    "error": {
                      "type": "string",
                      "enum": [
                        "file_not_found",
                        "video_unavailable",
                        "transcript_not_available"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/SystemOverload"
          }
        }
      }
    },
    "/youtube/search": {
      "post": {
        "summary": "Search YouTube for videos",
        "description": "Search YouTube for videos using AI analysis and ranking with optional filters.\n\n**Process:**\n1. Enhanced search with prompt engineering to find relevant videos\n2. AI analysis of video content and transcripts (per-video residential proxy fetch + per-video LLM analysis)\n3. Intelligent ranking based on query relevance\n4. Structured results with rich metadata\n\n**Billing:** for each candidate video the API bills one `residential_request` when fetching the transcript \u2014 set `max_results` to cap how many candidates are processed and therefore how many residential charges fire. After all per-video AI analyses AND the ranking step complete, a single consolidated `analysis_request` charge is recorded with `quantity = ceil(total_tokens / 15000)`, where `total_tokens` is the sum of LLM input + output tokens across all videos analyzed plus the ranking call. No `search_request` is billed \u2014 the residential fetches + analysis fully cover the workflow. If the search returns zero results, nothing is billed. Set `include_usage=true` to receive the full per-charge breakdown \u2014 the consolidated `analysis_request` entry also carries a nested `tokens` object reporting `prompt_tokens` / `completion_tokens` / `total_tokens`.\n\n**Partial results:** if the user runs out of `residential_request` credits mid-search, the endpoint returns HTTP `402` with `status: \"partial\"`, the videos analyzed so far in `data.results`, and `error_code: \"insufficient_credits_video_search\"`. The `usage` block (when `include_usage=true`) reflects only the charges that succeeded.",
        "operationId": "searchYouTube",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Search query",
                    "example": "What are the best practices for React development?"
                  },
                  "use_enhanced_search": {
                    "type": "boolean",
                    "default": true,
                    "description": "Whether to use enhanced search"
                  },
                  "start_year": {
                    "type": "integer",
                    "description": "Filter by start year",
                    "example": 2020
                  },
                  "end_year": {
                    "type": "integer",
                    "description": "Filter by end year",
                    "example": 2024
                  },
                  "focus": {
                    "type": "string",
                    "enum": [
                      "relevance",
                      "popularity",
                      "brevity"
                    ],
                    "default": "relevance",
                    "description": "Search focus"
                  },
                  "duration": {
                    "type": "integer",
                    "description": "Maximum duration in seconds",
                    "example": 600
                  },
                  "max_results": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Maximum number of videos to analyse and return. Each candidate triggers one `residential_request` (transcript fetch) and contributes tokens to the consolidated `analysis_request` charge, so lowering this caps the per-call cost. When omitted, defaults to the user's plan ceiling (`videos_per_search_count`). Values above the plan ceiling are silently clamped down.",
                    "example": 2
                  },
                  "include_usage": {
                    "type": "boolean",
                    "default": false,
                    "description": "When true, the response includes a `usage` block listing every meter charged during this request, the total credits deducted, and the user's remaining balance."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/VideoSearchResult"
                          }
                        },
                        "query": {
                          "type": "string"
                        },
                        "total_found": {
                          "type": "integer"
                        },
                        "explanation": {
                          "type": "string"
                        }
                      }
                    },
                    "usage": {
                      "$ref": "#/components/schemas/UsageBlock"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "description": "Either the initial search request was denied for insufficient credits (`status: error`), or credits ran out mid-analysis after some videos were already processed (`status: partial`, partial results included).",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/PaymentRequiredBody"
                    },
                    {
                      "type": "object",
                      "description": "Partial-results 402 \u2014 some videos were analyzed before credits ran out.",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "partial"
                          ]
                        },
                        "error_code": {
                          "type": "string",
                          "enum": [
                            "insufficient_credits_video_search"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "results": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/VideoSearchResult"
                              }
                            },
                            "query": {
                              "type": "string"
                            },
                            "total_found": {
                              "type": "integer"
                            },
                            "explanation": {
                              "type": "string"
                            }
                          }
                        },
                        "usage": {
                          "$ref": "#/components/schemas/UsageBlock"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/search/file": {
      "post": {
        "summary": "Search uploaded files",
        "description": "Search through user's uploaded files using vector similarity with AI reranking.\n\n**Namespace filtering:** Pass `namespace_ids` to restrict the search to files in specific namespaces. If omitted, all namespaces are searched.\n\n**Process:**\n1. Vector similarity search using text embeddings\n2. Initial ranking by semantic similarity\n3. AI reranking for improved relevance\n4. Rich metadata and signed URLs for file access\n5. Optional per-file AI analysis for people, places, key subjects, and key moments\n\nEach result includes the `namespace_ids` and resolved `namespaces` the file belongs to.\n\n**Billing:** one `search_request` per call. The AI analysis pass (per-file + overall aggregation) bills `analysis_request` as `ceil(total_tokens / 15000)` units (minimum 1 when analysis ran). Set `include_usage=true` to receive the per-charge breakdown \u2014 the consolidated `analysis_request` entry carries a nested `tokens` object.",
        "operationId": "searchFiles",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Search query",
                    "example": "What did the customer say about pricing?"
                  },
                  "namespace_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Optional list of namespace IDs to restrict search scope. If not provided, all namespaces are searched."
                  },
                  "include_usage": {
                    "type": "boolean",
                    "default": false,
                    "description": "When true, the response includes a `usage` block listing every meter charged during this request, the total credits deducted, and the user's remaining balance."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/FileSearchResult"
                          }
                        },
                        "query": {
                          "type": "string"
                        },
                        "total_found": {
                          "type": "integer"
                        },
                        "explanation": {
                          "type": "string"
                        }
                      }
                    },
                    "usage": {
                      "$ref": "#/components/schemas/UsageBlock"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/namespaces": {
      "get": {
        "summary": "List namespaces",
        "description": "Get all namespaces for the authenticated user. A 'default' namespace is auto-created if none exist. Files without a namespace are lazily migrated to the default.",
        "operationId": "getNamespaces",
        "tags": [
          "Namespaces"
        ],
        "responses": {
          "200": {
            "description": "Namespaces retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Namespace"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "summary": "Create a namespace",
        "description": "Create a new namespace for organizing files. Maximum 5 namespaces per user. The name 'default' is reserved and cannot be used.",
        "operationId": "createNamespace",
        "tags": [
          "Namespaces"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name for the new namespace (cannot be 'default')",
                    "example": "Client Calls"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Namespace created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Namespace"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/namespaces/{namespace_id}": {
      "put": {
        "summary": "Rename a namespace",
        "description": "Rename an existing namespace. The 'default' namespace cannot be renamed.",
        "operationId": "updateNamespace",
        "tags": [
          "Namespaces"
        ],
        "parameters": [
          {
            "name": "namespace_id",
            "in": "path",
            "required": true,
            "description": "The ID of the namespace to rename",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "New name for the namespace",
                    "example": "Product Demos"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Namespace renamed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "summary": "Delete a namespace",
        "description": "Delete a namespace and remove its association from all files. The 'default' namespace cannot be deleted.",
        "operationId": "deleteNamespace",
        "tags": [
          "Namespaces"
        ],
        "parameters": [
          {
            "name": "namespace_id",
            "in": "path",
            "required": true,
            "description": "The ID of the namespace to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Namespace deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "description": "Namespace not found or could not be deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ]
                    },
                    "message": {
[...]
